:ruby
  def self.get_initial_state(initial_count: 0, **)
    { count: initial_count }
  end

  def handle_click(event)
    update do |state|
      { count: state[:count] + 1}
    end
  end
:css
  .counter {
    margin: 1em;
    border: 1px solid #000;
    padding: 1em;
  }
.counter
  %p
    Count:
    %output<= state[:count]
  %p
    %button(onclick=handle_click) Click me!
