:ruby
  Navigation = import("./Navigation")
:css
  .layout {
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    min-height: 100vh;
  }

  .header {
    background: #ccc;
    display: flow-root;
  }

  .max-width {
    margin: 0 auto;
    max-width: 40em;
    padding: 1em;
  }

  .nav {
    background: #ddd;
  }

  .header-flex {
    display: flex;
    justify-content: space-between;
  }

  .main {
  }

  .footer {
    background: #ccc;
  }

.layout
  %header.header
    .max-width
      .header-flex
        %h1 mayu starter kit
        %Navigation
  %main.main
    .max-width
      %slot
  %footer.footer
    .max-width
      %p Footer contnet
