:css
  .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0;
    height: 100%;
  }

  .item {
  }
%nav
  %menu.menu
    %li.item
      %a(href="/") Start page
    %li.item
      %a(href="/subpage") Sub page
