:ruby
  Counter = import("/app/components/Counter")
%article
  %h1 Welcome to mayu-starter
  %p
    Try making changes to this file, or
    %a(href="/subpage")<
      go to a subpage
  %p Click the button
  %Counter
  %hr
  %p
    %a(href="https://mayu.live/docs" target="_blank")
      Read the documentation
  %p
    %a(href="https://github.com/mayu-live/framework" target="_blank")
      GitHub repo
